<div class="jumbotron">
  <h1>Visualising Sensor Data</h1>

  <p class="lead">
    Please select a Demo Map to display.You can chose between the following Maps:
  <ul class="lead">
    <li>
      <a href="/#/websocket-map">Websocket</a> - displays data received from a Websocket
    </li>
    <li>
      <a href="/#/sos-map">Sensor Observation Service</a> - polls for data on a SOS
    </li>
  </ul>
  </p>

  <p class="lead">
    Find further information and sources on Github:
  <ul class="lead">
    <li>
      <a href="https://github.com/stues/angular-sensorui">angular-sensorui</a> - The web UI
    </li>
    <li>
      <a href="https://github.com/stues/camel-sbs1route">camel-sbs1route</a> - The server part
    </li>
  </ul>
  </p>

  <p class="lead">
    If you have questions related to the use of angular-sensorui or camel-sbs1route, just contact <a
    href="https://onename.com/stue">me</a> through github, twitter or <a href="mailto:dev@stue.ch">mail</a>.
  </p>
</div>
